.footer-min {
    color: #fff;
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
    p{
        font-size: 14px;
        word-spacing: 2px;
        text-transform: capitalize;
    }
    span{
        text-transform: uppercase;
        opacity: .4;
        font-weight: 200;
    }
}
.footer-content{
    background: #14212D;
    color: #fff;
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    h3{
        font-size: 1.8rem;
        text-transform: capitalize;
        line-height: 3rem;
        color: #fff;
        margin: 0;
    }
    p{
        color: #bbb;
        max-width: 500px;
        margin: 10px auto;
        line-height: 28px;
        font-size: 1rem;
    }
    .socials{
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem 0 3rem 0;
        padding: 0;
        li{
            margin: 0 10px;
        }
        a{
            text-decoration: none;
            color: #fff;
            i{
                font-size: 1.1rem;
                transition: color .4s ease;
            }
            &:hover i{
                color: #e13f0f;
            }
        }
    }
}
