/* sizes */
/* sizes */
/* list */
/* hr */
/* code */
/* pre */
/* blockquote */
*::-webkit-scrollbar {
  width: 0.5rem;
  height: 1rem; }

*::-webkit-scrollbar-thumb {
  background-color: #1976d2; }

*::-webkit-scrollbar-track {
  background-color: #bbb; }

* {
  outline: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%; }

html {
  text-size-adjust: 100%;
  background: #ecf0f1;
  color: #333;
  line-height: 1.5;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: normal; }

html,
body {
  height: 100%;
  overflow-x: hidden; }

a {
  color: #0f6ecd;
  text-decoration: none;
  cursor: pointer; }
  a:hover {
    color: #1e87f0;
    text-decoration: underline; }

/* Text level */
abbr[title] {
  text-decoration: underline dotted; }

b,
strong {
  font-weight: bolder; }

em {
  color: #f0506e; }

q {
  font-style: italic; }

small {
  font-size: 0.85rem; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

canvas,
img,
video {
  max-width: 100%;
  height: auto; }

/*
 * Margins
 */
p,
ul,
ol,
dl,
pre,
address,
fieldset,
figure {
  margin-bottom: 20px; }

/* Headings
 ========================================================================== */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 20px;
  font-family: sans-serif;
  font-weight: normal;
  color: #000;
  text-transform: none; }

/* sizes */
h1 {
  font-size: 2.5rem;
  line-height: 1.2; }

h2 {
  font-size: 2rem;
  line-height: 1.3; }

h3 {
  font-size: 1.5rem;
  line-height: 1.4; }

h4 {
  font-size: 1.25rem;
  line-height: 1.4; }

h5 {
  font-size: 1rem;
  line-height: 1.4; }

h6 {
  font-size: 0.85rem;
  line-height: 1.4; }

/* Lists */
ul,
ol {
  padding-left: 30px; }

/* hr */
hr {
  overflow: visible;
  text-align: inherit;
  margin: 0 0 20px 0;
  border: 0;
  border-top: 1px solid #e5e5e5; }

/* code */
:not(pre) > code,
:not(pre) > kbd,
:not(pre) > samp {
  font-family: Consolas, monaco, monospace;
  font-size: 0.85rem;
  color: #f0506e;
  white-space: nowrap;
  padding: 2px 6px;
  background: #f8f8f8; }

pre {
  font: 0.85rem / 1.5 Consolas, monaco, monospace;
  color: #333;
  tab-size: 4;
  overflow: auto;
  padding: 10px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  background: #fff; }

pre code {
  font-family: Consolas, monaco, monospace; }

/* Blockquote */
blockquote {
  margin: 0 0 20px 0;
  font-size: 1.25rem;
  line-height: 1.5;
  font-style: italic;
  color: #000; }

blockquote *:last-of-type {
  margin-bottom: 0; }

/* Add margin if adjacent element */
* + p,
* + ul,
* + ol,
* + dl,
* + pre,
* + address,
* + fieldset,
* + figure {
  margin-top: 20px; }

* + h1,
* + h2,
* + h3,
* + h4,
* + h5,
* + h6 {
  margin-top: 20px; }

* + hr {
  margin-top: 20px; }

* + blockquote {
  margin-top: 20px; }

/* add selection style to all elements */
::selection {
  background: #39f;
  color: #fff;
  text-shadow: none; }

/* correct browser default display */
details,
main {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

/* ========================================================================
Utilities:
    .float-${ left | right }
    .overflow-${ hidden | auto }
    .resize | .resize-vertical
    .display-${ block | inline | inline-block }
    .inline | .inline-clip
    .border-${ circle | rounded }
    .box-shadow-${ small | medium | large}
========================================================================== */
.float-left {
  float: left; }

.float-right {
  float: right; }

.overflow-hidden {
  overflow: hidden; }

.overflow-auto {
  overflow: auto; }

.resize {
  resize: both; }

.resize-vertical {
  resize: vertical; }

.display-block {
  display: block !important; }

.display-inline {
  display: inline !important; }

.display-inline-block, .inline {
  display: inline-block !important; }

.inline {
  position: relative;
  max-width: 100%;
  vertical-align: middle; }
  .inline-clip {
    overflow: hidden; }

.border-circle {
  border-radius: 50%; }

.border-rounded {
  border-radius: 10px; }

.box-shadow-small {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.box-shadow-medium {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.box-shadow-large {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

/* ========================================================================
container:
    .container
    .*-box
    .container-${ xsmall | small | large | xlarge | expand}
========================================================================== */
.container, .container-xsmall, .container-small, .container-large, .container-xlarge, .container-expand, .auth-container {
  display: flow-root;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; }
  .container-xsmall {
    max-width: 750px; }
  .container-small {
    max-width: 900px; }
  .container-large {
    max-width: 1400px; }
  .container-xlarge {
    max-width: 1600px; }
  .container-expand, .auth-container {
    max-width: none; }

.chaos-box, .auth-container .auth-form, .topic, .user-box, .info-box .info:not(.collapsed), .career-box, .project-box, .post-box {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  background-color: #fff; }

.chaos-box .chaos-box, .auth-container .auth-form .chaos-box, .topic .chaos-box, .user-box .chaos-box, .info-box .info:not(.collapsed) .chaos-box, .career-box .chaos-box, .project-box .chaos-box, .post-box .chaos-box, .chaos-box .auth-container .auth-form, .auth-container .chaos-box .auth-form, .auth-container .auth-form .auth-form, .topic .auth-container .auth-form, .auth-container .topic .auth-form, .user-box .auth-container .auth-form, .auth-container .user-box .auth-form, .info-box .info:not(.collapsed) .auth-container .auth-form, .auth-container .info-box .info:not(.collapsed) .auth-form, .career-box .auth-container .auth-form, .auth-container .career-box .auth-form, .project-box .auth-container .auth-form, .auth-container .project-box .auth-form, .post-box .auth-container .auth-form, .auth-container .post-box .auth-form, .chaos-box .topic, .auth-container .auth-form .topic, .topic .topic, .user-box .topic, .info-box .info:not(.collapsed) .topic, .career-box .topic, .project-box .topic, .post-box .topic, .chaos-box .user-box, .auth-container .auth-form .user-box, .topic .user-box, .user-box .user-box, .info-box .info:not(.collapsed) .user-box, .career-box .user-box, .project-box .user-box, .post-box .user-box, .chaos-box .info-box .info:not(.collapsed), .info-box .chaos-box .info:not(.collapsed), .auth-container .auth-form .info-box .info:not(.collapsed), .info-box .auth-container .auth-form .info:not(.collapsed), .topic .info-box .info:not(.collapsed), .info-box .topic .info:not(.collapsed), .user-box .info-box .info:not(.collapsed), .info-box .user-box .info:not(.collapsed), .info-box .info:not(.collapsed) .info:not(.collapsed), .career-box .info-box .info:not(.collapsed), .info-box .career-box .info:not(.collapsed), .project-box .info-box .info:not(.collapsed), .info-box .project-box .info:not(.collapsed), .post-box .info-box .info:not(.collapsed), .info-box .post-box .info:not(.collapsed), .chaos-box .career-box, .auth-container .auth-form .career-box, .topic .career-box, .user-box .career-box, .info-box .info:not(.collapsed) .career-box, .career-box .career-box, .project-box .career-box, .post-box .career-box, .chaos-box .project-box, .auth-container .auth-form .project-box, .topic .project-box, .user-box .project-box, .info-box .info:not(.collapsed) .project-box, .career-box .project-box, .project-box .project-box, .post-box .project-box, .chaos-box .post-box, .auth-container .auth-form .post-box, .topic .post-box, .user-box .post-box, .info-box .info:not(.collapsed) .post-box, .career-box .post-box, .project-box .post-box, .post-box .post-box {
  box-shadow: none;
  padding: 0; }

.container > :last-child, .container-xsmall > :last-child, .container-small > :last-child, .container-large > :last-child, .container-xlarge > :last-child, .container-expand > :last-child, .auth-container > :last-child {
  margin-bottom: 0; }

.container .container, .container-xsmall .container, .container-small .container, .container-large .container, .container-xlarge .container, .container-expand .container, .auth-container .container, .container .container-xsmall, .container-xsmall .container-xsmall, .container-small .container-xsmall, .container-large .container-xsmall, .container-xlarge .container-xsmall, .container-expand .container-xsmall, .auth-container .container-xsmall, .container .container-small, .container-xsmall .container-small, .container-small .container-small, .container-large .container-small, .container-xlarge .container-small, .container-expand .container-small, .auth-container .container-small, .container .container-large, .container-xsmall .container-large, .container-small .container-large, .container-large .container-large, .container-xlarge .container-large, .container-expand .container-large, .auth-container .container-large, .container .container-xlarge, .container-xsmall .container-xlarge, .container-small .container-xlarge, .container-large .container-xlarge, .container-xlarge .container-xlarge, .container-expand .container-xlarge, .auth-container .container-xlarge, .container .container-expand, .container-xsmall .container-expand, .container-small .container-expand, .container-large .container-expand, .container-xlarge .container-expand, .container-expand .container-expand, .auth-container .container-expand, .container .auth-container, .container-xsmall .auth-container, .container-small .auth-container, .container-large .auth-container, .container-xlarge .auth-container, .container-expand .auth-container, .auth-container .auth-container {
  padding-left: 0;
  padding-right: 0; }

/* ========================================================================
button:
    .button-group
    .button (button)
    .button-secondary
    .button-danger
    .button-small
    .button-large
    .button-text
    .button-link
========================================================================== */
.button-group {
  display: inline-flex;
  vertical-align: middle;
  position: relative; }

.button, .auth-container .auth-form .auth-form-submit, button {
  overflow: visible;
  font: inherit;
  color: inherit;
  display: inline-block;
  box-sizing: border-box;
  padding: 0 20px;
  vertical-align: middle;
  font-size: 1rem;
  line-height: 2.25;
  text-align: center;
  background-color: #1e87f0;
  color: #fff;
  border: 1px solid transparent;
  /* remove a text decoration */
  text-decoration: none; }

.button:not(:disabled), .auth-container .auth-form .auth-form-submit:not(:disabled),
button:not(:disabled) {
  cursor: pointer; }

.button:hover, .auth-container .auth-form .auth-form-submit:hover, button:hover,
.button:focus,
.auth-container .auth-form .auth-form-submit:focus, button:focus {
  background-color: #0f7ae5;
  color: #fff;
  /* remove a text decoration */
  text-decoration: none;
  /* remove a that weird outline */
  outline: none; }

.button:active, .auth-container .auth-form .auth-form-submit:active, .button.active, .auth-container .auth-form .active.auth-form-submit,
button:active, button.active {
  background-color: #0e6ecd;
  color: #fff; }

.button-secondary {
  background-color: #222;
  color: #fff; }

.button-secondary:hover,
.button-secondary:focus {
  background-color: #151515;
  color: #fff; }

.button-secondary:active,
.button-secondary.uk-active {
  background-color: #090909;
  color: #fff; }

.button-danger {
  background-color: #f0506e;
  color: #fff; }

.button-danger:hover,
.button-danger:focus {
  background-color: #ee395b;
  color: #fff; }

.button-danger:active,
.button-danger.uk-active {
  background-color: #ec2147;
  color: #fff; }

.button:disabled, .auth-container .auth-form .auth-form-submit:disabled, button:disabled,
.button-secondary:disabled, button:disabled,
.button-danger:disabled, button:disabled {
  background-color: #f8f8f8;
  color: #666;
  border-color: #e5e5e5; }

.button-small {
  padding: 0 30px;
  line-height: 40px;
  font-size: 0.85rem; }

.button-large {
  padding: 0 30px;
  line-height: 40px;
  font-size: 1.25rem; }

.button-text {
  padding: 0;
  line-height: 1.5;
  background: none;
  color: #666; }

.button-text:hover,
.button-text:focus {
  color: #333; }

.button-text:disabled {
  color: #666; }

.button-link {
  padding: 0;
  line-height: 1.5;
  background: none;
  color: #0f6ecd; }

.button-link:hover,
.button-link:focus {
  color: #1e87f0;
  text-decoration: underline; }

.button-link:disabled {
  color: #666;
  text-decoration: none; }

/* ========================================================================
align:
    .center-child
    .align-center
    .align-left
    .align-right
========================================================================== */
.center-child, .auth-container, .user-box .cta {
  display: flex;
  align-items: center;
  justify-content: center; }

[class*='align'] {
  display: block;
  margin-bottom: 30px; }

* + [class*='align'] {
  margin-top: 30px; }

.align-center {
  margin-left: auto;
  margin-right: auto; }

.align-left {
  margin-top: 0;
  margin-right: 30px;
  float: left; }

.align-right {
  margin-top: 0;
  margin-left: 30px;
  float: right; }

/* ========================================================================
drop:
    .drop
    .drop.open
========================================================================== */
.drop, .topic.preview {
  display: none;
  position: absolute;
  z-index: 1020;
  box-sizing: border-box;
  width: 300px; }

.drop.open, .topic-box .hashtag:hover + .topic.preview, .open.topic.preview {
  display: block; }

/* ========================================================================
Form:
    input
========================================================================== */
input {
  border-radius: 0;
  font: inherit;
  overflow: visible;
  max-width: 100%;
  width: 100%;
  border: 0 none;
  padding: 0 10px;
  background: #f8f8f8;
  color: #333;
  height: 40px;
  vertical-align: middle;
  display: inline-block; }

.auth-container {
  min-height: 100%;
  padding: 40px;
  overflow: auto;
  background-color: #333; }
  .auth-container .auth-form {
    padding: 24px;
    width: 500px; }
    .auth-container .auth-form > *:not(:last-child) {
      margin-bottom: 20px; }
    .auth-container .auth-form > h1 {
      line-height: unset;
      font-weight: 700;
      margin: 0;
      font-family: sans-serif;
      font-size: 1.17em;
      font-size: xx-large;
      color: #000;
      text-align: center; }
    .auth-container .auth-form > span {
      display: block;
      text-align: center; }
    .auth-container .auth-form .form-fields > .fullname {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px; }
    .auth-container .auth-form .form-fields > *:not(:last-child) {
      margin-bottom: 10px; }
    .auth-container .auth-form .auth-actions > a {
      display: inline-block;
      text-align: center;
      line-height: 30px;
      width: 100%; }
    .auth-container .auth-form .auth-form-submit {
      margin: auto;
      display: block; }

.topic-box {
  position: relative;
  display: inline-block; }

.topic {
  min-width: 300px; }
  .topic .topic-inline {
    display: inline-block;
    position: relative;
    width: 100%;
    vertical-align: middle;
    overflow: hidden;
    padding-left: 50px;
    border-bottom: 2px solid #333; }
    .topic .topic-inline .icon {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 50px;
      font-size: 25px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      background-color: #333;
      color: #e6e6e6; }
    .topic .topic-inline h2 {
      min-height: 50px;
      padding: 5px 24px;
      padding-right: 12px;
      line-height: 40px;
      margin: 0;
      font-size: 20px; }
      .topic .topic-inline h2 > a.topic-custom-route {
        font-size: 1rem;
        float: right;
        text-transform: capitalize; }
  .topic .topic-info {
    margin: 0;
    padding: 24px; }

.navbar-box {
  overflow: auto;
  background-color: #4869ee;
  color: #fff;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); }
  .navbar-box .navbar-header {
    padding: 20px 20px 0; }
  .navbar-box .navbar li {
    list-style: none; }
    .navbar-box .navbar li .subroutes {
      border-left: 20px solid;
      border-color: #14212d7d;
      border-top: 2px solid #e13f0f;
      height: 0;
      display: none; }
    .navbar-box .navbar li .active ~ .subroutes {
      display: block;
      height: auto; }
    .navbar-box .navbar li > a {
      padding: 17px 20px;
      display: block;
      color: #fff;
      user-select: none;
      text-decoration: none;
      cursor: pointer;
      position: relative; }
      .navbar-box .navbar li > a .icon {
        display: inline-block;
        width: 20px;
        margin-right: 10px; }
      .navbar-box .navbar li > a::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 3px;
        height: 100%;
        background: #e13f0f;
        display: none; }
      .navbar-box .navbar li > a:hover, .navbar-box .navbar li > a.active {
        background: #14212D;
        color: #fff; }
        .navbar-box .navbar li > a:hover::before, .navbar-box .navbar li > a.active::before {
          display: block; }

.user-box {
  padding: 25px;
  overflow: hidden; }
  .user-box > *:not(:last-child) {
    margin-bottom: 20px; }
  .user-box .user .user-background {
    text-align: center;
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-bottom: 25%;
    background-color: #dfdfdf; }
  .user-box .user .user-picture {
    position: relative;
    border: 3px solid #fff;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    margin-top: -50px;
    background-color: #dfdfdf; }
  .user-box .user .user-name {
    padding-left: 10px;
    font-weight: bolder;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 1.5rem; }
    .user-box .user .user-name .username {
      font-size: 1.25rem;
      color: #666; }
  .user-box .user-info {
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 1fr; }
    .user-box .user-info .user-bio {
      padding-right: 15px;
      margin: 0; }
      .user-box .user-info .user-bio > p {
        margin: 0; }
    .user-box .user-info .contact-info {
      list-style: none; }
  .user-box .extra-info {
    text-align: center; }
    .user-box .extra-info > .info {
      font-weight: bolder;
      color: #666;
      white-space: nowrap; }
      .user-box .extra-info > .info .icon {
        color: #e13f0f;
        margin-right: 3px; }
    .user-box .extra-info > *:not(:last-child) {
      margin-right: 20px; }
  .user-box .cta {
    height: auto; }
    .user-box .cta .button:not(:first-child), .user-box .cta .auth-container .auth-form .auth-form-submit:not(:first-child), .auth-container .auth-form .user-box .cta .auth-form-submit:not(:first-child) {
      margin-left: 20px; }

/*  
.user-contact {
    padding: 10px;
    margin: $margin 0;
    background-color: $muted-background;
    .infos-container {
        margin: auto;
        width: max-content;
        .info-box {
            display: flex;
            padding: 10px 25px;
            font-weight: $strong-fontWeight;
            color: $extra-info-color;
            .logo {
                font-size: 22px;
                margin-right: 10px;
            }
            .value {
                margin-top: auto;
                margin-bottom: auto;
            }
        }
    }
}
*/
.info-box .info {
  padding: 40px; }
  .info-box .info .logo {
    font-size: 40px;
    text-align: center;
    color: #e13f0f; }
  .info-box .info .value {
    margin: 0; }
    .info-box .info .value .type {
      display: block;
      font-weight: bolder;
      font-size: 1rem;
      text-transform: uppercase;
      margin-top: 10px; }
  .info-box .info:not(.collapsed) {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 40px; }
  .info-box .info.collapsed {
    display: flex;
    padding: 0; }
    .info-box .info.collapsed .logo {
      font-size: 16px;
      margin-right: 10px; }
    .info-box .info.collapsed .value {
      font-size: 1rem;
      margin: 0; }
      .info-box .info.collapsed .value .type {
        display: none; }

.career {
  border-color: #1ec0f0 !important;
  padding: 18px;
  padding-left: 30px;
  border-left: 2px solid; }
  .career .title {
    position: relative; }
  .career .title::before {
    content: '';
    position: absolute;
    left: -31px;
    top: 4px;
    width: 16px;
    height: 16px;
    border: 4px solid #57555f;
    border-left: 0;
    background-color: #1ec0f0; }
  .career .info {
    color: #0d617a;
    font-weight: bolder; }

.project-box .project.wide {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center; }
  .project-box .project.wide > .title {
    grid-row: 1;
    grid-column: 1/3;
    margin-bottom: 20px; }

.project-box .project .thumbnail {
  text-align: center;
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  background-color: #dfdfdf;
  display: block; }

.project-box .project > .title {
  text-align: center;
  margin: 0;
  padding: 20px 20px 0; }

.project-box .project .project-info {
  text-align: center;
  width: 100%;
  padding: 20px; }
  .project-box .project .project-info > *:not(:last-child) {
    margin-bottom: 20px; }
  .project-box .project .project-info .project-topics > *:not(:last-child) {
    margin-right: 20px; }
  .project-box .project .project-info .btns-container > *:not(:last-child) {
    margin-right: 20px; }

.post-box {
  padding: 24px; }
  .post-box > *:not(:last-child) {
    margin-bottom: 20px; }
  .post-box .post .title {
    padding: 0 40px;
    text-align: center; }
  .post-box .post .thumbnail {
    text-align: center;
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    background-color: #dfdfdf; }
